In [ ]:
import os

if "HOPSWORKS_PROJECT_ID" in os.environ:
    os.chdir(f"{os.environ['HOPSFS_DIR_PATH']}/Jupyter/hw-sg-demo")

In [1]:
import pandas as pd
from cloud_utils import cloud_save_features, cloud_data_source
from hopsworks_utils import hopsworks_save_features, hopsworks_data_source

In [2]:
def feature_engineering(data):
    features = data.groupby(['cc_num', 'category'])['amount'].mean()

    features = features.reset_index()
    features['event_time'] = pd.Timestamp.now()

    return features

In [3]:
if "HOPSWORKS_PROJECT_ID" in os.environ:
    data = hopsworks_data_source()
else:
    data = cloud_data_source("s3://fabio-pnc-demo/transaction_raw/transactions.csv")

In [4]:
features = feature_engineering(data)

In [5]:
features

,cc_num,category,amount,event_time
0,4000323325541926,Clothing,49.590000,2025-04-22 14:03:21.421979
1,4000323325541926,Domestic Transport,58.193333,2025-04-22 14:03:21.421979
2,4000323325541926,Grocery,50.223571,2025-04-22 14:03:21.421979
3,4000323325541926,Health/Beauty,73.100000,2025-04-22 14:03:21.421979
4,4000323325541926,Restaurant/Cafeteria,12.550000,2025-04-22 14:03:21.421979
...,...,...,...,...
12358,4999763787658689,Domestic Transport,64.952000,2025-04-22 14:03:21.421979
12359,4999763787658689,Electronics,539.330000,2025-04-22 14:03:21.421979
12360,4999763787658689,Grocery,45.785000,2025-04-22 14:03:21.421979
12361,4999763787658689,Health/Beauty,288.586667,2025-04-22 14:03:21.421979
12362,4999763787658689,Restaurant/Cafeteria,68.200000,2025-04-22 14:03:21.421979

In [38]:
if "HOPSWORKS_PROJECT_ID" in os.environ:
    data = hopsworks_save_features(features)
else:
    cloud_save_features(features, 's3://fabio-pnc-demo/transaction_features/transactions.csv')